# Padronizar quebra de linha para LF
*.js     text eol=lf
*.jsx    text eol=lf
*.ts     text eol=lf
*.tsx    text eol=lf
*.json   text eol=lf
*.css    text eol=lf
*.html   text eol=lf
*.yml    text eol=lf
*.yaml   text eol=lf

# Ignorar binários (não aplicar conversão de texto)
*.png    binary
*.jpg    binary
*.jpeg   binary
*.svg    binary
*.ico    binary
